includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
    level: 10
    paths:
        - src
        - tests
    ignoreErrors:
        -
            message: '#^Parameter \#2 \$limit of static method Inspirum\\Arrayable\\Convertor\:\:toArray\(\) expects int<1, max>|null, int|null given\.$#'
            path: tests/ConvertorTest.php
            count: 1
