includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
    level: 9
    paths:
        - src
        - tests
    ignoreErrors:
        -
            message: "#^Parameter \\#2 \\$limit of static method Inspirum\\\\Arrayable\\\\Convertor\\:\\:toArray\\(\\) expects int<1, max>|null, int|null given\\.$#"
            path: tests/ConvertorTest.php
            count: 1
        -
            message: "#^Offset 'first' on class@anonymous/tests/BaseCollectionTest\\.php\\:\\d+ in isset\\(\\) always exists and is not nullable\\.$#"
            count: 1
            path: tests/BaseCollectionTest.php
